<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<title>conclusao</title>
	<style>
		body {
			background-color: #B2B2B2;
		}
	</style>
</head>

<body>
	<center>
		<h1 style="justify-content: center;">Cadastro Realizado!</h1>
		<p>Observe os cadastros no h2-console.</p>
	</center>



</body>

</html>